<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
   
    
</head>
<body>
    <h2>{{>header}}</h2>
    <h3> These Data About:- {{   title}}</h3>
    <h3> the name of Country:- {{ country}}</h3>
    <h3> the Latitude:- {{ latitude}} </h3>
    <h3> the longtitude:- {{ longtitude}} </h3>
    <h3> the Current_Weather:- {{  curWeather}} </h3>
    <h3> the temperature:- {{  temperature}} °C</h3>
</body>
</html>